<h3>Modulo operations</h3>
<h4 id="mod_exp">Modular exponentiation</h4>
<h3>
    <div class="sig">
        <code>
            <a href="https://github.com/0xKilty/number-theory/blob/main/number-theory.c#L40" target="_blank">
                int mod_exp(int base, int power, int mod)
            </a>
        </code>
        <a class="hash" href="#mod_exp">#</a>
    </div>
</h3>
<p>Uses the <a href="https://en.wikipedia.org/wiki/Modular_exponentiation">fast powering algorithm</a> to
    exponentiate a number modulus.</p> 
<p>\( a^b \equiv x \mod m \)</p>