body {
    font-family: Arial, sans-serif;
    width: 50%;
    margin: auto;
}

h1 a {
    color: black;
    text-decoration: none;
}

code a {
    color: black;
    text-decoration: none;
}

code a:hover {
    text-decoration: underline;
}