:root {
    --background-color: white;
    --text-color: black;
}

body {
    font-family: Arial, sans-serif;
    width: 50%;
    margin: auto;
    background-color: var(--background-color);
    color: var(--text-color);
}

p {
    line-height: 1.5;
}

h1 a,
code a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre code {
    font-size: large;
}

.nav a {
    color: grey;
    text-decoration: none;
    padding: 10px;
}

.nav a:hover {
    text-decoration: underline;
}

.sig .hash {
    display: none;
}

.sig:hover .hash {
    color: black;
    display: inline;
    text-decoration: underline;
}